# Node / React
node_modules/
.cache/
dist/
build/

# Python
venv/
.venv/
__pycache__/
*.pyc

# ML
*.h5
*.ckpt
*.pb
*.onnx

# Environment
.env

# OS
.DS_Store
Thumbs.db

rebase-merge/

# SQLite database
backend/instance/*.db
