/* OVERLAY */

.profile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    z-index: 999;
}


/* PANEL */

.profile-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background: white;
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    animation: slideIn 0.3s ease;
}


/* ANIMATION */

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


/* HEADER */

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-header button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


/* CONTENT */

.profile-content {
    flex: 1;
    margin-top: 20px;
    overflow-y: auto;
}

.avatar {
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
}

.info {
    margin: 15px 0;
}


/* STATS */

.stats {
    background: #ede9fe;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
}


/* LOGOUT */

.logout-btn {
    background: #6b21a8;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #581c87;
}